# Laboratorio 3 

Jorge Caballeros        20009
Lucía Alejandra Guzmán  carnet

#### General settup

In [18]:
import pandas as pd
import tensorflow as tf
from tensorflow import keras
import numpy as np
from datetime import datetime

data = pd.read_csv('data.csv')
# Creating new columns
date = [datetime.strptime(x, '%Y-%m') for x in data['Month']]
Year = [x.year for x in date]
Month = [x.month for x in date]

data['Year'] = Year
data['month'] = Month

data = data.drop(columns=['Month'])

data

      Sunspots  Year  month
0         58.0  1749      1
1         62.6  1749      2
2         70.0  1749      3
3         55.7  1749      4
4         85.0  1749      5
...        ...   ...    ...
2815      71.8  1983      8
2816      50.3  1983      9
2817      55.8  1983     10
2818      33.3  1983     11
2819      33.4  1983     12

[2820 rows x 3 columns]

Normalizing with min-max scaling

In [19]:
min = data['Sunspots'].min()
max = data['Sunspots'].max()

scaled_data = [ (x - min) / (max - min) for x in data['Sunspots']]

data['Scaled_sunspots'] = scaled_data
data.drop('Sunspots', axis=1, inplace=True)
data

      Year  month  Scaled_sunspots
0     1749      1         0.228526
1     1749      2         0.246651
2     1749      3         0.275808
3     1749      4         0.219464
4     1749      5         0.334909
...    ...    ...              ...
2815  1983      8         0.282900
2816  1983      9         0.198188
2817  1983     10         0.219858
2818  1983     11         0.131206
2819  1983     12         0.131600

[2820 rows x 3 columns]

Splitting the data

In [22]:
split_point = int(len(data)*0.8)

train_data = data[:split_point]
test_data = data[split_point:]

(Year               2820
 month              2820
 Scaled_sunspots    2820
 dtype: int64,
 Year               2256
 month              2256
 Scaled_sunspots    2256
 dtype: int64,
 Year               564
 month              564
 Scaled_sunspots    564
 dtype: int64)

# Feed Forward NN

In [23]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

# Define the model
model = Sequential([
    Dense(32, activation='relu', input_shape=(train_data.shape[1]-1,)),  # -1 because we exclude the target column
    Dense(16, activation='relu'),
    Dense(1)  # No activation for the output layer in regression
])

# Compile the model
model.compile(optimizer='adam', loss='mean_squared_error')

# Print a summary of the model's architecture
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 32)                96

 dense_1 (Dense)             (None, 16)                528

 dense_2 (Dense)             (None, 1)                 17

=================================================================
Total params: 641
Trainable params: 641
Non-trainable params: 0
_________________________________________________________________

Training

In [24]:
# Separate input features and target variable for training data
X_train = train_data.drop(columns=['Scaled_sunspots'])
y_train = train_data['Scaled_sunspots']

# Separate input features and target variable for testing data
X_test = test_data.drop(columns=['Scaled_sunspots'])
y_test = test_data['Scaled_sunspots']

# Train the model
history = model.fit(X_train, y_train, epochs=50, validation_data=(X_test, y_test))

Epoch 1/50
71/71 [==============================] - 1s 4ms/step - loss: 44741.1133 - val_loss: 15.1664
Epoch 2/50
71/71 [==============================] - 0s 2ms/step - loss: 14.9604 - val_loss: 0.1952
Epoch 3/50
71/71 [==============================] - 0s 2ms/step - loss: 0.0905 - val_loss: 0.1086
Epoch 4/50
71/71 [==============================] - 0s 2ms/step - loss: 0.0774 - val_loss: 0.1055
Epoch 5/50
71/71 [==============================] - 0s 2ms/step - loss: 0.0769 - val_loss: 0.1087
Epoch 6/50
71/71 [==============================] - 0s 2ms/step - loss: 0.0765 - val_loss: 0.1079
Epoch 7/50
71/71 [==============================] - 0s 2ms/step - loss: 0.0764 - val_loss: 0.1089
Epoch 8/50
71/71 [==============================] - 0s 2ms/step - loss: 0.0753 - val_loss: 0.1082
Epoch 9/50
71/71 [==============================] - 0s 2ms/step - loss: 0.0752 - val_loss: 0.1045
Epoch 10/50
71/71 [==============================] - 0s 2ms/step - loss: 0.0739 - val_loss: 0.1042
Epoch 11/50
71/71 [==============================] - 0s 2ms/step - loss: 0.0734 - val_loss: 0.0992
Epoch 12/50
71/71 [==============================] - 0s 2ms/step - loss: 0.0723 - val_loss: 0.1023
Epoch 13/50
71/71 [==============================] - 0s 2ms/step - loss: 0.0719 - val_loss: 0.1048
Epoch 14/50
71/71 [==============================] - 0s 2ms/step - loss: 0.0708 - val_loss: 0.1018
Epoch 15/50
71/71 [==============================] - 0s 2ms/step - loss: 0.0702 - val_loss: 0.0947
Epoch 16/50
71/71 [==============================] - 0s 2ms/step - loss: 0.0695 - val_loss: 0.0966
Epoch 17/50
71/71 [==============================] - 0s 2ms/step - loss: 0.0686 - val_loss: 0.1071
Epoch 18/50
71/71 [==============================] - 0s 2ms/step - loss: 0.0677 - val_loss: 0.0972
Epoch 19/50
71/71 [==============================] - 0s 2ms/step - loss: 0.0663 - val_loss: 0.0961
Epoch 20/50
71/71 [==============================] - 0s 2ms/step - loss: 0.0653 - val_loss: 0.0971
Epoch 21/50
71/71 [==============================] - 0s 2ms/step - loss: 0.0636 - val_loss: 0.0954
Epoch 22/50
71/71 [==============================] - 0s 2ms/step - loss: 0.0627 - val_loss: 0.0943
Epoch 23/50
71/71 [==============================] - 0s 2ms/step - loss: 0.0612 - val_loss: 0.1045
Epoch 24/50
71/71 [==============================] - 0s 2ms/step - loss: 0.0605 - val_loss: 0.0855
Epoch 25/50
71/71 [==============================] - 0s 2ms/step - loss: 0.0595 - val_loss: 0.0889
Epoch 26/50
71/71 [==============================] - 0s 2ms/step - loss: 0.0584 - val_loss: 0.0895
Epoch 27/50
71/71 [==============================] - 0s 2ms/step - loss: 0.0567 - val_loss: 0.0899
Epoch 28/50
71/71 [==============================] - 0s 2ms/step - loss: 0.0562 - val_loss: 0.0896
Epoch 29/50
71/71 [==============================] - 0s 2ms/step - loss: 0.0545 - val_loss: 0.0910
Epoch 30/50
71/71 [==============================] - 0s 2ms/step - loss: 0.0534 - val_loss: 0.0845
Epoch 31/50
71/71 [==============================] - 0s 2ms/step - loss: 0.0525 - val_loss: 0.0839
Epoch 32/50
71/71 [==============================] - 0s 2ms/step - loss: 0.0533 - val_loss: 0.0829
Epoch 33/50
71/71 [==============================] - 0s 2ms/step - loss: 0.0516 - val_loss: 0.0809
Epoch 34/50
71/71 [==============================] - 0s 2ms/step - loss: 0.0498 - val_loss: 0.0973
Epoch 35/50
71/71 [==============================] - 0s 2ms/step - loss: 0.0483 - val_loss: 0.0759
Epoch 36/50
71/71 [==============================] - 0s 2ms/step - loss: 0.0487 - val_loss: 0.0749
Epoch 37/50
71/71 [==============================] - 0s 2ms/step - loss: 0.0452 - val_loss: 0.0718
Epoch 38/50
71/71 [==============================] - 0s 2ms/step - loss: 0.0440 - val_loss: 0.0835
Epoch 39/50
71/71 [==============================] - 0s 2ms/step - loss: 0.0436 - val_loss: 0.0819
Epoch 40/50
71/71 [==============================] - 0s 2ms/step - loss: 0.0421 - val_loss: 0.0789
Epoch 41/50
71/71 [==============================] - 0s 2ms/step - loss: 0.0415 - val_loss: 0.0668
Epoch 42/50
71/71 [==============================] - 0s 2ms/step - loss: 0.0398 - val_loss: 0.0706
Epoch 43/50
71/71 [==============================] - 0s 2ms/step - loss: 0.0388 - val_loss: 0.0680
Epoch 44/50
71/71 [==============================] - 0s 2ms/step - loss: 0.0382 - val_loss: 0.0763
Epoch 45/50
71/71 [==============================] - 0s 2ms/step - loss: 0.0367 - val_loss: 0.0716
Epoch 46/50
71/71 [==============================] - 0s 2ms/step - loss: 0.0356 - val_loss: 0.0773
Epoch 47/50
71/71 [==============================] - 0s 2ms/step - loss: 0.0356 - val_loss: 0.0686
Epoch 48/50
71/71 [==============================] - 0s 2ms/step - loss: 0.0337 - val_loss: 0.0781
Epoch 49/50
71/71 [==============================] - 0s 2ms/step - loss: 0.0348 - val_loss: 0.0601
Epoch 50/50
71/71 [==============================] - 0s 2ms/step - loss: 0.0324 - val_loss: 0.0614